.categoryelement-wrapper {
  height: 400px;
  width: 300px;
}
.image {
  height: 65%;
  background-color: antiquewhite;
  border-radius: 17px;
}
.caption {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.host,
.date {
  color: var(--textgrey);
  font-weight: 360;
}
.price {
  margin-top: 5px;
}
.capitalize {
  text-transform: capitalize;
}
