.footer-wrapper {
  height: 47px;
  max-width: 100%;
  width: 100%;
  border-top: 1px solid var(--grey);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: white;
}
ul {
  display: inline-flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ul li {
  text-transform: capitalize;
}
.li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.right-foot-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.english {
  display: flex;
  align-items: center;
  gap: 18px;
}
.region,
.support,
.dollar,
.copywrite {
  display: flex;
  align-items: center;
  gap: 8px;
}
.smallscreen-foot{
  display: none;

}
.footer-search i{
color: var(--pink)
}
.wishlist i, .login i{
  color: var(--textgrey);
}
@media screen and (max-width:767px){
 .left-foot,.right-foot{
  display: none;
 } 
 .smallscreen-foot{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 100%;
  margin: 0 auto;
 }
 .layout{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 }
 .smallscreen{
  font-size: 32px
 }
 .footer-wrapper{
  background-color: var(--white);
  height: 60px;
  padding: 20px 0;

 }
}
