.top-nav-container {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey);
}
.bnblogo {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: 60px;
  /* background-color: antiquewhite; */
}
.logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search {
  width: 350px;
  height: 45px;
  border-radius: 30px;
  border: 0.5px solid var(--grey);
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 auto; */
}
.search-span {
  width: 100px;
  height: max-content;
  text-align: center;
}
.search div:nth-child(2) {
  border-right: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
}
.search div:nth-child(3) {
  color: var(--textgrey);
}
.search > img {
  margin-right: 5px;
}
.profile-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 45px;
  /* background-color: aquamarine; */
}
.profile {
  width: 74px;
  height: 42px;
  border-radius: 25px;
  border: 0.5px solid var(--grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
}
.menu-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.menu-icon > img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
.user-icon {
  width: 30px;
  height: 30px;
}
.user-icon > img {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.bold {
  font-weight: 500;
}
